@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-french-red: #bc2200;
  --color-french-blue: #2a3290;
  --color-french-white: #fffafa;
  --font-poppins: "Poppins", Arial, Helvetica, sans-serif;
  --font-work-sans: "Work Sans", Arial, Helvetica, sans-serif;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-french-white);
  font-family: var(--font-work-sans);
}
